<h2>Post Announcement</h2>
// <!--use case two -->
<form id="announcementForm">
    <label for="announcement">Announcement:</label>
    <textarea id="announcement" name="announcement" required></textarea><br><br>
    <button type="submit">Post Announcement</button>
</form>

<h3>Latest Announcements</h3>
<ul id="announcementList"></ul>

<p id="message"></p>
 <!--this is where we shall post announcements-->
<div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
    <label for="floatingTextarea">Comments</label>
  </div>


