<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posting announcement</title>
    
</head>
<body>
    <input type="text"
    id="username">
    <script>
        const user = {username: 'Timothy'};

        document.getElementById('username').value = username;
    </script>
</body>
</html>