<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('templates/head'); %>
    <title>searchinfo</title>
</head>
<body>
    <%- include('templates/header'); %>
    <main class="d-flex flex-nowrap" style="height:500px;">
        <%- include('templates/nav'); %>
        <div class="search-container">
            <h2>Search Information</h2>
            <form id="search-form">
                <label for="search-criteria">Enter Your Search Criteria Here:</label>
                
                <!-- Flex container for the input and button -->
                <div class="input-button-container">
                    <input type="text" id="search-criteria" name="searchCriteria" placeholder="Enter name, ID, or Email" required>
                    <button type="submit" class="search-button">Search</button>
                </div>
            </form>
        
            <!-- Area for displaying search results -->
            <div id="search-results" class="results-container">
                <h3>Results:</h3>
                <ul id="results-list"></ul> <!-- Search results will be appended here -->
            </div>
        </div>               
    </main>
    <%- include('templates/footer'); %>
    <script src="js/chat.js"></script>
</body>
</html>