<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('templates/head'); %>
    <title>Share Status</title>
</head>
<body>
    <%- include('templates/header'); %>
    <main class="d-flex flex-nowrap" style="height:500px;">
        <%- include('templates/nav'); %>
        <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 100%;">
            <div class="status-update-container">
                <form id="status-form" action="" method="">
                    <label for="status-select">Select Your Status:</label>
                    <select id="status-select" name="status"> 
                        <option value="undefined" selected>Undefined</option>
                        <option value="OK">OK</option>
                        <option value="Help">Help</option>
                        <option value="Emergency">Emergency</option>
                    </select>
                    <button type="submit">Update Status</button>
                </form>
                <div id="status-message">Your status has been updated!</div> <!-- Example message -->
            </div>
        </div>
        
    </main>
    <%- include('templates/footer'); %>
    <script src="js/chat.js"></script>
</body>
</html>