<footer class="navbar justify-content-center nav" >
    <strong>
        <p class="small text-muted">
            Advanced Web System Development and Web Services &copy; MIS2024
        </p>
    </strong>
</footer>